In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# data reading

In [11]:
df= pd.read_csv('covid19data.csv', sep=',', error_bad_lines=False, index_col=False)

In [9]:
df

,Unnamed: 0,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,day,month,year
0,0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...
353027,26619,9.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Hospitalized,8.0,10.0,2020.0
353028,26620,29.0,08/10/2020,NaN,NaN,NaN,Leh,Ladakh,Recovered,8.0,10.0,2020.0
353029,26621,10.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Recovered,8.0,10.0,2020.0
353030,26622,-8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Migrated_Other,8.0,10.0,2020.0
353031,26623,8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Recovered,8.0,10.0,2020.0

# data slicing

In [5]:
data=df.iloc[:,1:]
data

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,day,month,year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
353027,9.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Hospitalized,8.0,10.0,2020.0
353028,29.0,08/10/2020,NaN,NaN,NaN,Leh,Ladakh,Recovered,8.0,10.0,2020.0
353029,10.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Recovered,8.0,10.0,2020.0
353030,-8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Migrated_Other,8.0,10.0,2020.0
353031,8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Recovered,8.0,10.0,2020.0

# data inspect

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353032 entries, 0 to 353031
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Num Cases          353024 non-null  float64
 1   Date Announced     353028 non-null  object
 2   Age Bracket        115025 non-null  object
 3   Gender             117456 non-null  object
 4   Detected City      14206 non-null   object
 5   Detected District  342391 non-null  object
 6   Detected State     353019 non-null  object
 7   Current Status     353028 non-null  object
 8   day                353028 non-null  float64
 9   month              353028 non-null  float64
 10  year               353028 non-null  float64
dtypes: float64(4), object(7)
memory usage: 20.2+ MB

# data analysis

# null values

In [8]:
data.isnull().sum(axis=0).sort_values()

Date Announced            4
Current Status            4
day                       4
month                     4
year                      4
Num Cases                 8
Detected State           13
Detected District     10641
Gender               235576
Age Bracket          238007
Detected City        338826
dtype: int64

# data in percentage

In [9]:
round(data.isnull().sum(axis=0).sort_values(ascending=False )/len(data)*100,2)

Detected City        95.98
Age Bracket          67.42
Gender               66.73
Detected District     3.01
Detected State        0.00
Num Cases             0.00
year                  0.00
month                 0.00
day                   0.00
Current Status        0.00
Date Announced        0.00
dtype: float64

# data month wise

In [10]:
data.groupby('month')['Num Cases'].sum()

month
1.0           1.0
2.0           2.0
3.0        1635.0
4.0       36078.0
5.0      242853.0
6.0      663179.0
7.0     1878473.0
8.0     3761761.0
9.0     5088546.0
10.0    1234696.0
Name: Num Cases, dtype: float64

# Hospitalized data

In [1]:
data[data['Current Status']=='Hospitalized'].groupby('month')['Num Cases'].sum()

NameError: name 'data' is not defined

# visualization

In [6]:
g=data[data['Current Status']=='Hospitalized'].groupby('month')['Num Cases'].sum()
g

month
3.0        1431.0
4.0       33209.0
5.0      155781.0
6.0      395144.0
7.0     1111262.0
8.0     1990886.0
9.0     2622324.0
10.0     593548.0
Name: Num Cases, dtype: float64

# analysis according to gander

In [7]:
data.groupby('Gender')['Num Cases'].sum()

Gender
F             41071.0
Femal e           1.0
M             77750.0
M                 1.0
M,                1.0
Non-Binary       18.0
Name: Num Cases, dtype: float64